.navbar_container{
    background-color: blue;

}


.navbar{
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-between;
     color: white;
    padding: 13px 10px;
    width: 85%;
    margin: auto;

}




.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}


.navbar ul li{
    font-size: 17px;
    padding-bottom: 5px;
}
.navbar ul li a{
    font-size: 17px;
    padding-bottom: 5px !important;
}


@media screen and (max-width: 768px){
    .navbar h1{
font-size: 24px;        }
    

.navbar ul{
gap: 7px;

}

.navbar li a{
    font-size: 14px !important;    

}
    
}



@media screen and (max-width: 523px){
    .navbar h1{
font-size: 17px;        }
    

.navbar ul{
gap: 7px;

}

.navbar li a{
    font-size: 14px !important;    

}
    
}
