
/* product style */

.project_section{
    background-color: white;
    width: 85%;
    margin: auto;
    min-height: 60vh;
    margin-top: 20px;

}

.project_section ul{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 25%   25%  25% 25%;

}


.project_section li{
    padding-top: 25px;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
min-height: 200px;
}


.project_section li div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

 .project_section li h4{
margin-top: 20px;        }

.project_section li span{
    margin-top: 15px;        }


.project_section li button{
width: 70%; 
height: 35px; 
margin-top: 10px;  
margin-bottom: 15px;
border: none;
background-color: #cccaca;
border-radius: 3px;

    }

.project_section li button:hover{
        background-color: blue !important;
        color: white;
        
}

.null_product{
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 20px 0px;

}
.checkout button{
    border: none;
    background-color: blue;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    display: flex;
    align-items: center;
gap: 4px;
    /* width: 30px; */
    margin-right: 20px;
}



.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px 0px;
    margin-right: 20px;

}



@media screen and (max-width: 982px){
    .project_section ul{
        grid-template-columns: 50% 50%;
    
    }    
}
@media screen and (max-width: 523px){
    .project_section ul{
        grid-template-columns: 100% ;
    
    }   
    .toatal h3{
        font-size: 12px;
     } 
}
